<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meshtastic
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
    <ion-slide>
      <img src="assets/img/connect.png" class="slide-image" />
      <h2 class="slide-title">
        Welcome to
        <b>Meshtastic</b>
      </h2>
      <p>
        A long range low power mesh networking system based off LoRa for exchanging messages, location data and much more. Start by connecting
        with your device.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/chat.png" class="slide-image" />
      <h2 class="slide-title">Talk to your friends</h2>
      <p>
        In the chat tab you can start a new channel or join one by scanning the QR code. Multiple people can join the same channel. Chats are
        securedy by cryptography.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/geolocate.png" class="slide-image" />
      <h2 class="slide-title">Share your position</h2>
      <p>
        On the maps tab you can share your position and see your friends pins around the map. Everything is made to work offline.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/fine-tuning.png" class="slide-image" />
      <h2 class="slide-title">Fully configurable</h2>
      <p>
        On the settings tab you can configure notifications, range of your device, privacy options and much more.
      </p>
      <ion-button fill="clear" (click)="startApp()">
        Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>