<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chatTab">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapTab">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settingsTab">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
