<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meshtastic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Basic</ion-card-subtitle>
    </ion-card-header>
    
    <ion-item>
      <ion-toggle name="advanced_mode" [(ngModel)]="cnf.advanced_mode" (ionChange)="saveVal()"></ion-toggle>
      <ion-label>Advanced mode</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Your Name</ion-label>
      <ion-input name="nickname" [(ngModel)]="cnf.nickname" (ionChange)="saveVal()"></ion-input>
    </ion-item>

    <ion-item *ngIf="!cnf.advanced_mode">
      <ion-label>Radio</ion-label>
      <ion-select name="modem_config" [(ngModel)]="cnf.modem_config" okText="OK" cancelText="Cancel" (ionChange)="saveVal()">
        <ion-select-option value="Bw125Cr45Sf128">Medium Range / Medium</ion-select-option>
        <ion-select-option value="Bw500Cr45Sf128">Short Range / Fast</ion-select-option>
        <ion-select-option value="Bw31_25Cr48Sf512">Long Range / Slow (No EU)</ion-select-option>
        <ion-select-option value="Bw125Cr48Sf4096">Long Range / Slow (EU)</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="cnf.advanced_mode">
    <ion-card-header>
      <ion-card-subtitle>LoRa</ion-card-subtitle>
    </ion-card-header>
  
    <ion-item>
      <ion-label>Spreading Factor</ion-label>
      <ion-select name="spreading_factor" [(ngModel)]="cnf.spreading_factor" okText="OK" cancelText="Cancel" (ionChange)="saveVal()">
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Code Rate (CR)</ion-label>
      <ion-select name="code_rate" [(ngModel)]="cnf.code_rate" okText="OK" cancelText="Cancel" (ionChange)="saveVal()">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Bandwith</ion-label>
      <ion-select name="bandwith" [(ngModel)]="cnf.bandwith" okText="OK" cancelText="Cancel" (ionChange)="saveVal()">
        <ion-select-option value="125">125kHz</ion-select-option>
        <ion-select-option value="250">250kHz</ion-select-option>
        <ion-select-option value="500">500kHz</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Bitrate: {{ datarate }}bps</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Notifications</ion-card-subtitle>
    </ion-card-header>
  
    <ion-item>
      <ion-toggle name="message_notifications" [(ngModel)]="cnf.message_notifications" (ionChange)="saveVal()"></ion-toggle>
      <ion-label>Messages</ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle name="battery_notifications" [(ngModel)]="cnf.battery_notifications" (ionChange)="saveVal()"></ion-toggle>
      <ion-label>Battery Alert</ion-label>
    </ion-item>

    <ion-item *ngIf="cnf.battery_notifications">
      <ion-label>Alert Threshold</ion-label>
      <ion-range name="battery_threshold" min="10" max="90" pin="true" step="10" snaps ticks="true" [(ngModel)]="cnf.battery_threshold" (ionChange)="saveVal()"></ion-range>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Location</ion-card-subtitle>
    </ion-card-header>
    
    <ion-item>
      <ion-toggle name="position_sharing" [(ngModel)]="cnf.position_sharing" (ionChange)="saveVal()"></ion-toggle>
      <ion-label>Enable Position Sharing</ion-label>
    </ion-item>

    <ion-item *ngIf="cnf.position_sharing">
      <ion-label>Position Update Frequency (seconds)</ion-label>
      <ion-range name="position_sharing_frequency" min="1" max="60" pin="true" step="10" snaps ticks="true" [(ngModel)]="cnf.position_sharing_frequency" (ionChange)="saveVal()"></ion-range>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>WiFi</ion-card-subtitle>
    </ion-card-header>
  
    <ion-item>
      <ion-label>Mode</ion-label>
      <ion-select name="wifi_mode" [(ngModel)]="cnf.wifi_mode" okText="OK" cancelText="Cancel" (ionChange)="saveVal()">
        <ion-select-option value="WIFI_OFF">Off</ion-select-option>
        <ion-select-option value="WIFI_AP">Access Point</ion-select-option>
        <ion-select-option value="WIFI_STA">Station</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="cnf.wifi_mode != WIFI_OFF">
      <ion-label position="floating">Network Name (SSID)</ion-label>
      <ion-input name="wifi_ssid" [(ngModel)]="cnf.wifi_ssid" (ionChange)="saveVal()"></ion-input>
    </ion-item>

    <ion-item *ngIf="cnf.wifi_mode != WIFI_OFF">
      <ion-label position="floating">Password</ion-label>
      <ion-input name="wifi_password" [(ngModel)]="cnf.wifi_password" (ionChange)="saveVal()"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Support</ion-card-subtitle>
    </ion-card-header>

    <ion-button expand="block" fill="outline" (click)="openHelp()">Tutorial</ion-button>
    <br>
    <ion-button expand="block" (click)="openHelp()">Help Forum</ion-button>
  </ion-card>
  
  <br><br><br>

</ion-content> 
